$font: 'Segoe UI';
$fontSize: 14px;
$fontColor: #404040;
$lineHeight: 20px;

$bgColor: #ebebeb;

$testColor: #3164d1b6;

@font-face {
    font-family: $font;
    src: url('fonts/segoe-ui.ttf')
}

* {
    margin: 0;
    padding: 0;
    font-family: $font;
    font-size: $fontSize;
    line-height: $lineHeight;
}

body { background-color: $bgColor; }